# Archivo CODEOWNERS para el repositorio

# Propietario de la carpeta machinelearning
/machinelearning/ @Davidnboffelli

# Propietario de los archivos .html
*.html @PilarAlonsoSTEMDO

# Propietario del file dentro de machinelearning
/machinelearning/ml.txt @Davidnboffelli

**/Pilar @PilarAlonsoSTEMDO
**/David @Davidnboffelli
